.volanty-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

button{
    font-family: 'Saira';
    border-radius: 30px!important;
    width: 100%;
}