@font-face {
    font-family: 'Circular';
    src: url('../../fonts/lineto-circular-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

.container{
    display: flex;
    flex-direction: column;
}
h1{
    font-family: 'Circular';
    font-weight: 900;
    font-size: 3em;
    padding: 2%;    
}

.svg-car{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    margin-top: 10%; 
}
.volanty-car{
    height: 50%;
    width: 90%;
    position: relative;
}

.description{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: justify;
    margin-top: 10%;
    padding: 5%;
}

p {
    font-family: 'Saira';
    font-weight: 500;
    font-size: 1.5em;
}

@media only screen and (min-width: 1200px){
    
    .container{
        width: 100%;
    }
    
    h1 {
        font-size: 5em;
        padding: 0;
        margin-left: -20%;
    }

    .svg-car{
        margin-top: 0;
    }
    .volanty-car{
        width: 60%;
        margin-left: 30%;
        
    }
}